<div class="container">
 <div  FxLayout="column" ng-cloak>
  <mat-sidenav-container FxFlex="sidenav-container">
   <mat-sidenav mode="side">Crypto Biz</mat-sidenav>
    <mat-sidenav-content FxFlex="mat-side-content"><span class="mat-side-nav-title" >Main content</span>
      <ul class="ng-tns-c12-1 ng-trigger ng-trigger-bodyExpansion" id="panel-forms" style="visibility: visible;">

        <li class="ng-tns-c12-1 ng-star-inserted" style="">
           <a class="ng-tns-c12-1" (click)="getQRCode()"  routerLink="/app-trials"  routerlinkactive="active">
            Trial Image
           </a>
        </li>
        <li class="ng-tns-c12-1 ng-star-inserted" style="">
          <a class="ng-tns-c12-1" (click)="getUser()"  routerLink="/app-user"  routerlinkactive="active" >
            User Data
          </a>
        </li>
        <li class="ng-tns-c12-1 ng-star-inserted" style="">
          <a class="ng-tns-c12-1" (click)="getQRCode()"  routerLink="/app-user"  routerlinkactive="active" >
            User Account
          </a>
        </li>
        <li class="ng-tns-c12-1 ng-star-inserted" style="">
          <a class="ng-tns-c12-1" (click)="getQRCode()"  routerLink="/app-qrcode"  routerlinkactive="active" >
            QR-Code
          </a>
        </li>
        <li class="ng-tns-c12-1 ng-star-inserted" style="">
          <a class="ng-tns-c12-1" routerlinkactive="docs-component-viewer-sidenav-item-selected" href="/components/form-field">
            Form field
          </a>
        </li>
        <li class="ng-tns-c12-1 ng-star-inserted" style="">
          <a class="ng-tns-c12-1" routerlinkactive="docs-component-viewer-sidenav-item-selected" href="/components/input">
            Input
          </a>
        </li>
        <li class="ng-tns-c12-1 ng-star-inserted" style="">
          <a class="ng-tns-c12-1 docs-component-viewer-sidenav-item-selected" routerlinkactive="docs-component-viewer-sidenav-item-selected" href="/components/radio">
            Radio button
          </a>
        </li><li class="ng-tns-c12-1 ng-star-inserted" style="">
          <a class="ng-tns-c12-1" routerlinkactive="docs-component-viewer-sidenav-item-selected" href="/components/select">
            Select
          </a>
        </li><li class="ng-tns-c12-1 ng-star-inserted" style="">
          <a class="ng-tns-c12-1" routerlinkactive="docs-component-viewer-sidenav-item-selected" href="/components/slider">
            Slider
          </a>
        </li><li class="ng-tns-c12-1 ng-star-inserted" style="">
          <a class="ng-tns-c12-1" routerlinkactive="docs-component-viewer-sidenav-item-selected" href="/components/slide-toggle" >
            Slide toggle
          </a>
        </li>
  </ul>
          </mat-sidenav-content>
   </mat-sidenav-container>
</div>
</div>
