@import '../custom-theme.scss';

@mixin my-custom-theme($custom-theme) {

  $primary: map-get($custom-theme, primary);
  $warn: map-get($custom-theme, warn);
  $background: map-get($custom-theme, accent);

}

.container div[fxFlex="main-wrapper"] {
	  margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    min-width: 100%;
}

.container .orange-block {
    margin-bottom: 40px;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 140px;
    background-color: mat-color($primary);
}

.orange-block .menu-container {
  z-index: 100; /* integer */
  position: absolute;
  left: 350px;

}

.left-side-panel{
    background-color: mat-color($primary);
}

.right-side-panel{
    background-color: mat-color($primary);
}

.center-panel {
  padding-top: 70px;
}
